# **Exercícios Pandas** ##

In [1]:
import pandas as pd

df = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'idade': [23, 35, 31, 28, 40],
    'cidade': ['SP', 'RJ', 'BH', 'SP', 'POA']
}, index=['a', 'b', 'c', 'd', 'e'])

df
df_copy = df.copy()

In [ ]:
#Usando .loc[], acesse todos os dados da linha com índice 'c'.
df_copy.loc['c']

In [ ]:
# Usando .iloc[], acesse a terceira linha (posição 2).
a = df_copy.iloc[2, 1]
print(a)

In [ ]:
# Usando .iloc[], acesse o valor da coluna 'cidade' da segunda linha.
df_copy.iloc[1, 2]

In [ ]:
# Usando .loc[], selecione as linhas 'a', 'c' e 'e', apenas as colunas 'nome' e 'idade'.
df_copy.loc[['a', 'c', 'e'], ['idade', 'nome']]

In [ ]:
# Usando .iloc[], selecione as duas primeiras linhas e as duas primeiras colunas.
df_copy.iloc[0:2, 0:3]

In [ ]:
# Usando .loc[], selecione todas as linhas onde a cidade é 'SP'.
valor = df_copy[df_copy['cidade'] == 'SP']
valor

In [ ]:
# Usando .iloc[], selecione a última linha inteira.
df_copy.iloc[-1]

In [ ]:
# Usando .iloc[], selecione as linhas nas posições 1 a 3 e as colunas nas posições 1 e 2.
df_copy.iloc[0:3, 0:2]

In [ ]:
# Usando .loc[], selecione todas as pessoas com idade maior que 30, mostrando apenas 'nome' e 'idade'.
valor = df_copy[df_copy['idade'] > 30]
valor_loc = df_copy.loc[df_copy['idade'] > 30, ['nome', 'idade']]

In [ ]:
# Usando .iloc[], substitua a cidade da terceira linha por 'Curitiba'
df_copy.iloc[2, 2] = 'Curitiba'
df_copy

In [ ]:
df = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Dani', 'Eduardo'],
    'idade': [23, 35, 31, 28, 40],
    'cidade': ['SP', 'RJ', 'BH', 'SP', 'POA'],
    'ativo': [True, False, True, True, False],
    'pontuacao': [88, 76, 90, 95, 70]
})

df_copy = df.copy()
df_copy

In [ ]:
# Filtre todas as pessoas da cidade de SP.
df_copy.loc[df_copy['cidade'] == 'SP', 'nome']

In [ ]:
# Filtre todas as pessoas ativas.
df_copy.loc[df_copy['ativo'] == True]

In [ ]:
# Filtre as pessoas não ativas.
df_copy.loc[df_copy['ativo'] != True]

In [ ]:
# Filtre apenas quem tem idade menor ou igual a 28.
df_copy.loc[df_copy['idade'] <= 28]

In [ ]:
# Filtre quem é ativo e tem mais de 30 anos.
valor_ativos = df_copy.loc[df_copy['ativo'] == True]
valor_idade = valor_ativos.loc[valor_ativos['idade'] > 25]
valor_idade

In [ ]:
# Selecionar apenas os registros da cidade "RJ".
df_copy
df_copy.loc[df_copy['cidade'] == 'RJ']

In [ ]:
# Obter os nomes das pessoas que têm pontuação maior que 80.
df_copy.loc[df_copy['pontuacao'] > 80, ['nome']]

In [ ]:
# Filtrar as linhas em que a idade está entre 25 e 40 (inclusive).
df_copy.loc[(df_copy['idade'] > 25) & (df_copy['idade'] <= 40)]

In [ ]:
# Mostrar apenas as colunas "nome" e "pontuacao" para quem é de "SP"
df_copy.loc[df_copy['cidade'].isin(['SP', 'SDYNEY']), ['nome','pontuacao']]

In [ ]:
dados = {
    'produto': ['Arroz', 'Feijão', 'Macarrão', 'Açúcar', 'Sal'],
    'preco': [5.5, 7.2, 4.0, 3.5, 2.0],
    'estoque': [50, 20, 0, 15, 60],
    'categoria': ['Alimento', 'Alimento', 'Alimento', 'Alimento', 'Tempero']
}

df2 = pd.DataFrame(dados)

In [ ]:
# Filtrar produtos com estoque igual a zero.
df2.loc[df2['estoque'] == 0]

In [ ]:
# Filtrar produtos com preço menor que 5 e estoque maior que 10.
df2.loc[(df2['preco'] < 5) & (df2['estoque'] > 10)]

In [ ]:
# Mostrar apenas os produtos da categoria "Alimento" com preço acima de 5
df2.loc[df2['preco'] > 5, 'produto']

In [ ]:
# Usar loc para exibir a linha do produto "Feijão" com as colunas "preco" e "estoque".
df2.loc[df2['produto'] == 'Feijão', ['produto','preco', 'estoque']]

In [ ]:
# Usar loc para substituir o preço do "Sal" para 2.5 (só um exemplo de acesso por filtro)
df2.loc[df2['produto'] == 'Sal', 'preco'] = 2.5
df2

In [ ]:
dados = {
    'cliente': ['Amanda', 'Bruno', 'Aira', 'Daniel', 'Eduarda', 'Fernando'],
    'compra_total': [1200, 300, 1500, 400, 700, 900],
    'frequencia': [12, 3, 15, 4, 7, 9],
    'cidade': ['SP', 'RJ', 'MG', 'SP', 'RJ', 'RS']
}

df3 = pd.DataFrame(dados)

In [ ]:
# Filtrar clientes que gastaram mais de 1000 e fizeram mais de 10 compras
df3.loc[(df3['compra_total'] > 1000) & (df3['frequencia']), 'cliente']

In [ ]:
# Selecionar todos os clientes que são das cidades "SP" ou "RJ".
df3.loc[df3['cidade'].isin(['SP', 'RJ'])]

In [ ]:
# Filtrar clientes cujo nome começa com a letra "A".
lista = []
for index, row in df3.iterrows():
    a = row['cliente']
    if a[0] == 'A':
        print(a)
        lista.append(a)
    else:
        lista.append(False)

df3.loc[df3['cliente'].isin(lista)]