# **Exercícios Pandas** ##

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# EXE1 - Use applymap() para converter todos os números em strings formatadas como moeda (ex: "R$ 12.000,00").
df = pd.DataFrame({
    'vendas_2024': [12000, 35000, 8700],
    'vendas_2025': [15000, 42000, 9100]
})

def converter(valor):
    float(valor)
    valor_formatado = f'R$ {valor:,.2f}'
    new = valor_formatado.replace(',', '.')
    return new
    
    
df.applymap(converter)

In [ ]:
# EXE2 - Use map() para contar o número de palavras em cada frase. Depois, use outra função para retornar o texto em MAIÚSCULAS se tiver mais de 3 palavras.
textos = pd.Series([
    'Python é incrível',
    'pandas é ótimo para dados',
    'amo aprender coisas novas'
])
def maiuscula(valor):
    novo_valor = valor.split()
    new = len(novo_valor)
    if new > 3:
        return valor.upper()

textos.map(maiuscula)

In [ ]:
# EXE3 - Crie uma função e use applymap() para: Substituir None por "Desconhecido" se for texto, Substituir None por 0 se for número.
df = pd.DataFrame({
    'nome': ['Ana', 'Beto', None],
    'idade': [23, None, 35],
    'cidade': ['SP', 'RJ', 'BH']
})

def nulo(valor):
    if pd.isna(valor):
        if valor == None:
           return 'desconhecido'
        elif isinstance(valor, float):
            return 0
        else:
            print('errado')
    else:
        return valor
df.applymap(nulo)

In [ ]:
# EXE4 - Mostre apenas o maior salário de cada departamento (.max()). Agrupe por Departamento e retorne o menor e maior salário usando .agg(['min', 'max']). Use o atributo .groups pra visualizar os índices das linhas pertencentes a cada grupo.
df = pd.DataFrame({
    'Departamento':['RH', 'RH', 'TI', 'TI', 'Vendas', 'Vendas'],
    'Salário': [2000, 2500, 3000, 4000, 1800, 2200]
})

grupo_departamento = df.groupby('Departamento').sum()
media = grupo_departamento.mean()
conta = df.groupby('Departamento')
conta.count()

In [ ]:
# EXE5 - Mostre apenas o maior salário de cada departamento (.max())
df.groupby('Departamento').max()

In [ ]:
# EXE6 - Agrupe por Departamento e retorne o menor e maior salário usando .agg(['min', 'max']).
grupo = df.groupby('Departamento')
grupo.agg(['min', 'max'])

In [ ]:
# EXE7 - Agrupe por Cidade e Ano e: calcule a soma de vendas calcule a média por cidade (ignorando o ano)
df = pd.DataFrame({
    'Cidade': ['SP', 'SP', 'RJ', 'RJ', 'MG', 'MG'],
    'Ano': [2023, 2024, 2023, 2024, 2023, 2024],
    'Vendas': [100, 150, 80, 120, 90, 110]
})

grupo = df.groupby(['Cidade', 'Ano'])
media = df.groupby('Cidade')['Vendas'].mean()
media

In [ ]:
# EXE 8 - Use .reset_index() após o groupby pra transformar o resultado novamente em um DataFrame “plano”.
media = media.reset_index()
media

In [ ]:
# EXE 9 - Agrupe por Categoria e crie uma nova coluna chamada Lucro (Valor - Custo). Depois, calcule a média do lucro por categoria.
df = pd.DataFrame({
    'Categoria': ['A', 'A', 'A', 'B', 'B', 'C'],
    'Valor': [10, 15, 20, 5, 7, 30],
    'Custo': [5, 6, 8, 2, 3, 10]
})

grupo = df.groupby('Categoria')
a = grupo[['Valor', 'Custo']].apply(lambda x:x * 10)

In [ ]:
# EXE 10 - Agrupe por Região e calcule a soma total de Vendas.
df = pd.DataFrame({
    'Região': ['Sul', 'Sudeste', 'Sul', 'Nordeste', 'Sul', 'Sudeste', 'Nordeste'],
    'Cidade': ['Curitiba', 'SP', 'Porto Alegre', 'Recife', 'Florianópolis', 'RJ', 'Salvador'],
    'Vendas': [200, 400, 150, 120, 180, 300, 250],
    'Lucro': [50, 120, 30, 25, 45, 90, 70]
})

# df
grupo = df.groupby('Região')['Vendas'].sum()

In [ ]:
# EXE 11 - Agrupe por Região e Cidade, e calcule a média de Lucro.
grupo = df.groupby(['Região', 'Cidade'])['Lucro']
grupo.mean()

In [ ]:
# EXE 12  - Use .agg() para calcular várias métricas por grupo
df.groupby('Região').agg({
    'Vendas':['mean', 'sum'],
    'Lucro': ['sum','max']
})

In [ ]:
# EXE 13 - Crie um DataFrame 3×3 com números de 1 a 9. Use applymap() para elevar cada número ao quadrado.
df = pd.DataFrame({
    'n1': [1, 2, 3],
    'n2': [4, 5, 6],
    'n3': [7, 8, 9]
})

df.applymap(lambda x: x**2)

In [ ]:
# EXE 14 - Crie um DataFrame com nomes e notas: Use applymap() para arredondar todos os valores numéricos para inteiro.
nome_nota = pd.DataFrame({
    'nota1': [7.5, 5.0],
    'nota2': [8.0, 6.5]
}, index=['ana', 'joao']) 

nome_nota.applymap(lambda x: int(x))

In [ ]:
# EXE 15 - Crie um DataFrame com strings e números misturados. Use applymap() para deixar em maiúsculas apenas as células do tipo str.
num_text = pd.DataFrame({
    'col1': [1, 'num', 3],
    'col2': [4, 5, 'mum']
})

def teste(valor):
    if type(valor) is int:
        return valor
    else:
        return valor.upper()
num_text.applymap(teste)

In [ ]:
# EXE 16 - Crie um DataFrame com valores numéricos e aplique applymap() para: Substituir números pares por "PAR" e ímpares por "ÍMPAR".
numeros = pd.DataFrame({
    'n1': [1, 2, 3, 4, 5],
    'n2': [6, 7, 8, 9, 10]
})

def teste2(valor):
    if valor%2 == 0:
        return 'PAR'
    else:
        return 'ÍMPAR'
    
numeros.applymap(teste2)

In [ ]:
# EXE 17 - Combine applymap() com uma função personalizada: Crie uma função que retorna "OK" se o valor for positivo e "NEG" se for negativo.Aplique-a a todo o DataFrame.
def func_generica(valor):
    if valor < 0:
        return 'NEG'
    else:
        return 'OK'

numeros.applymap(func_generica)

In [ ]:
# EXE 18 - Agrupe por 'Categoria' e some as vendas.
df = pd.DataFrame({
    'Categoria': ['Bom', 'Ruim', 'Top', 'Bom'],
    'Produto': ['Prod1', 'Prod2', 'Prod3', 'Prod4'],
    'Vendas': [82, 12, 92, 18]
})

grupo = df.groupby('Categoria')
grupo['Vendas'].sum()

In [ ]:
# EXE 19 - Calcule a média salarial por departamento.
df = pd.DataFrame({
    'Departamento': ['TI', 'TI', 'Suporte', 'RH'],
    'Salário': [9000, 7800, 4500, 1200],
    'Sexo': ['M', 'F', 'F', 'M']
})


grupo = df.groupby('Departamento')['Salário'].mean()

In [ ]:
# EXE 20 -  Obtenha o maior e o menor valor de venda de cada vendedor.

df = pd.DataFrame({
    'Vendedor': ['Vend1', 'Vend2', 'Vend1', 'Vend1'],
    'Vendas': [2, 34, 12, 90]
})

grupo = df.groupby('Vendedor')
grupo.max()