In [ ]:
import pandas as pd

In [ ]:
df = pd.Series([1,2,3])

In [ ]:
dados = ({
    'nome':['nar','pe'],
    'idade': [1, 3]
})

df = pd.DataFrame(dados)

In [ ]:
df.head(4)
df.info()
df.describe()
df.dtypes

In [ ]:
df = pd.read_csv('GasPricesinBrazil_2004-2019.csv', sep=';')

In [21]:
dados = ({
    'nome':['nar','pe'],
    'idade': [1, 3]
})

df = pd.DataFrame(dados)
df.to_excel('dados.xlsx', index=False)

In [13]:
df['nome']

0    nar
1     pe
Name: nome, dtype: object

In [16]:
df.loc[0]
df.iloc[0]

nome     nar
idade      1
Name: 0, dtype: object

In [19]:
selecao = df['nome'] == 'nart'
selecao

0    False
1    False
Name: nome, dtype: bool

In [23]:
df.loc[df['idade'] > 18, ['nome']]

Empty DataFrame
Columns: [nome]
Index: []

In [28]:
df['naruto'] = 'default'
df

df.reset_index(drop=True)

  nome  idade   naruto
0  nar      1  default
1   pe      3  default