# **Exerc√≠cios**

In [ ]:
# Criar o dataframe
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'Nome': ['Naruto', 'Momo','Okarun', 'Jiji', 'Aira'],
    'Idade': [23, 16, 16, 17, ''],
    'Cidade': ['Konoha', 'Kamikoshi','Kamikoshi','Kamikoshi','Kamikoshi'],
    'Salario': [90000, 3400, 3400, 3000, 5000]
})

# Criando uma c√≥pia para o tratamento de dados
df = data.copy()
df

In [ ]:
from datetime import datetime

In [ ]:
# Selecione m√∫ltiplas condi√ß√µes:Pessoas com idade > 30 e sal√°rio > 5000.
df.loc[(df['Idade'] > 18) & (df['Salario'] > 3000)]

In [ ]:
# Filtrar clientes cujo nome come√ßa com a letra "A".
lista_nomes = []
for i, r in df.iterrows():
    if r['Nome'].startswith('A'):
        lista_nomes.append(True)
    else:
        lista_nomes.append(False)
    

print(lista_nomes)
df[lista_nomes]

In [ ]:
# Filtre apenas as pessoas que n√£o moram em "Rio de Janeiro".
df.loc[~(df['Cidade'] == 'Kamikoshi')]

In [ ]:
# DataFrame novo
data = {
    "id": ["001", "002", "003", "004", "005"],
    "idade": ["25", "30", "vinte e cinco", "40 anos", None],
    "salario": ["3000.50", "4000", "cinco mil", "4500,75", "3800.20"],
    "data_contratacao": ["2021-05-12", "12/06/2020", "Junho 5, 2019", "2020-13-01", "2022/03/15"],
    "bonus": ["10%", "5%", "dez%", "15.5%", None],
}
data = pd.DataFrame(data)

data.info()

In [ ]:
# Converta a coluna id para o tipo inteiro.
data['id'] = pd.to_numeric(data['id'])

In [ ]:
# Converta a coluna idade para num√©rico, transformando os valores inv√°lidos em NaN.
data['idade'] = pd.to_numeric(data['idade'], errors='coerce')
data

In [ ]:
# Converta a coluna salario para float, substituindo v√≠rgulas por pontos.
# for index, row in data.iterrows():
#     if ',' in row['salario']:
#         valor = row['salario']
#         novo = valor.replace(',', '.')
#         data.loc[index, 'salario'] = novo
#         print(data)
#     else:
#         print('tem ponto ou √© errado o nome')

data['salario'] = pd.to_numeric(data['salario'], errors='coerce')

data

In [ ]:
# Converta a coluna data_contratacao para o tipo datetime, tratando os formatos diferentes.
formatos = [
    "%d/%m/%Y",
    "%Y-%m-%d",
    "%Y/%m/%d",
    "%m/%d/%Y",
    "%Y-%d-%m",
    "%Y/%d/%m",
    "%B %d, %Y",
    "%A, %d de %B de %Y",
    "%Y-%m-%d %H:%M",
    "%d/%m/%Y %H:%M:%S",
    "%I:%M %p",
    "%H:%M:%S"
]
lista_datas_formatadas = []
# Criar o for para passar por todas as linnhas das datas do df
for i , r in data.iterrows():
    data_formatada = 0 # aqui eu crio para pode por na lista de datas formatadas
    valor_data_df = r['data_contratacao']
    print(f'Valor do df {valor_data_df}')

    # Verificar se o valor √© nulo
    if pd.isna(valor_data_df):
        print(f'Valor nulo {valor_data_df}')
        lista_datas_formatadas.append(pd.NaT)
    
    # for dentro dos possiveis formatos de datas, para ver em qual a linha est√° formatada\
    for x in formatos:
        # Tenta converter se n der vai para a proximo formato
        try:
            data_formatada = datetime.strptime(valor_data_df, x)
            print(f'üëçAqui formatou certinho! {data_formatada} ')
            break
        except:
            continue

    # o c√≥digo chegou aqui com 2 ops, ou a data formatada ta certinha(um dos formtado deu certo) ou nenhum deu certo e a variavel continou com o valor padra = 0
    if data_formatada != 0: # se sim formatou o baguio
        lista_datas_formatadas.append(data_formatada)
    else: # nenhuma dos formatos conseguiu formatar a data
        lista_datas_formatadas.append(pd.NaT)

print('-' * 120)
lista_saida_formatadas = []
# A lista final ta no tipo datetime no padrao americano, ou seja nos do brasil quer formatado para o nosso jeito
for x in lista_datas_formatadas:
    if pd.isna(x):
        lista_saida_formatadas.append(pd.NaT)
    else:
        valor = x.strftime('%d/%m/%Y')
        lista_saida_formatadas.append(valor)
        
print(lista_saida_formatadas)

# Passar tudinho para o dataframe
data['data_contratacao'] = lista_saida_formatadas
data

In [ ]:
# Calcule uma nova coluna chamada ano_contratacao com o ano de cada data.
lista_ano = []
for i, r in data.iterrows():
    valor = r['data_contratacao']
    if pd.isna(valor):
        lista_ano.append(pd.NaT)
    else:
        valor = datetime.strptime(valor, '%d/%m/%Y')
        lista_ano.append(valor.year)

data['ano_contratacao'] = lista_ano
data

In [ ]:
# Converta a coluna bonus para float, removendo o s√≠mbolo % e dividindo por 100.
lista_numeros_formatados = []
for i, r in data.iterrows():
    valor_bonus = r['bonus']
    if pd.isna(valor_bonus):
        print(f'Valor bruto {valor_bonus}')
        lista_numeros_formatados.append(np.nan)
        continue

    else:
        if '%' in valor_bonus:
            novo_valor_bonus = valor_bonus.replace('%','')
            valor_float = pd.to_numeric(novo_valor_bonus, errors='coerce')
            conta = valor_float/100
            valor_float = float(conta)
            lista_numeros_formatados.append(valor_float)
            print(valor_float)

data['bonus'] = lista_numeros_formatados

In [144]:
# Substitua valores ausentes (NaN) na coluna idade pela m√©dia das idades v√°lidas.
data.loc[data['idade'].isna(), 'idade'] = data['idade'].median()
data

    id  idade    salario data_contratacao  bonus
0  001   25.0    3000.50       2021-05-12    10%
1  002   30.0       4000       12/06/2020     5%
2  003   27.5  cinco mil    Junho 5, 2019   dez%
3  004   27.5    4500,75       2020-13-01  15.5%
4  005   27.5    3800.20       2022/03/15   None