# **Exercícios Pandas**

In [ ]:
# Criar o dataframe
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'Nome': ['Naruto', 'Momo','Okarun', 'Jiji', 'Aira'],
    'Idade': [23, 16, 16, 17, ''],
    'Cidade': ['Konoha', 'Kamikoshi','Kamikoshi','Kamikoshi','Kamikoshi'],
    'Salario': [90000, 3400, 3400, 3000, 5000]
})

# Criando uma cópia para o tratamento de dados
df = data.copy()
df

In [ ]:
from datetime import datetime

In [ ]:
# Selecione múltiplas condições:Pessoas com idade > 30 e salário > 5000.
df.loc[(df['Idade'] > 18) & (df['Salario'] > 3000)]

In [ ]:
# Filtrar clientes cujo nome começa com a letra "A".
lista_nomes = []
for i, r in df.iterrows():
    if r['Nome'].startswith('A'):
        lista_nomes.append(True)
    else:
        lista_nomes.append(False)
    
print(lista_nomes)
df[lista_nomes]

In [ ]:
# Filtre apenas as pessoas que não moram em "Rio de Janeiro".
df.loc[~(df['Cidade'] == 'Kamikoshi')]

In [ ]:
# DataFrame novo
data = {
    "id": ["001", "002", "003", "004", "005"],
    "idade": ["25", "30", "vinte e cinco", "40 anos", None],
    "salario": ["3000.50", "4000", "cinco mil", "4500,75", "3800.20"],
    "data_contratacao": ["2021-05-12", "12/06/2020", "Junho 5, 2019", "2020-13-01", "2022/03/15"],
    "bonus": ["10%", "5%", "dez%", "15.5%", None],
}
data = pd.DataFrame(data)

data.info()

In [ ]:
# Converta a coluna id para o tipo inteiro.
data['id'] = pd.to_numeric(data['id'], errors='coerce')

In [ ]:
# Converta a coluna idade para numérico, transformando os valores inválidos em NaN.
data['idade'] = pd.to_numeric(data['idade'], errors='coerce')
data

In [ ]:
# Converta a coluna salario para float, substituindo vírgulas por pontos.
lista_com_novos_valores = []
for i, r in data.iterrows():
    valor = r['salario']
    
    if ',' in valor:
        valor = valor.replace(',','.')
        lista_com_novos_valores.append(valor)
    elif pd.isna(valor):
        print(f'Valor nulo {valor}')
        lista_com_novos_valores.append(np.nan)
    else:
        try:
            
            valor_numero_float = float(valor)
            print(f'VALOR PADRÃO VEIO ASSIM {valor}')
            lista_com_novos_valores.append(valor_numero_float)
        except:
            print(f'Valor númerico errado, ira ser NaN, na proxima direito! {valor}')
            lista_com_novos_valores.append(np.nan)

data['salario'] = lista_com_novos_valores
data.info()

In [ ]:
data

In [ ]:
# Converta a coluna data_contratacao para o tipo datetime, tratando os formatos diferentes.
formatos = [
    "%d/%m/%Y",
    "%Y-%m-%d",
    "%Y/%m/%d",
    "%m/%d/%Y",
    "%Y-%d-%m",
    "%Y/%d/%m",
    "%B %d, %Y",
    "%A, %d de %B de %Y",
    "%Y-%m-%d %H:%M",
    "%d/%m/%Y %H:%M:%S",
    "%I:%M %p",
    "%H:%M:%S"
]

lista_data_formata = []
for i, r in data.iterrows():
    valor_data_desformatada = r['data_contratacao']
    print(f'VALOR LÀ DE CIMA!!! {valor_data_desformatada}')
    valor_formatado = 0
    #verificar se é nulo
    if pd.isna(valor_data_desformatada):
        print(f'Valor nulo')
        lista_data_formata.append(valor_data_desformatada)
    
    for x in formatos:
        try:
            valor_formatado = datetime.strptime(valor_data_desformatada, x)
            # print(f'Consegui formatar {valor_formatado}')
            break
        except:
            continue
    if valor_formatado != 0:
        lista_data_formata.append(valor_formatado)
    else:
        lista_data_formata.append(np.nan)

data['data_contratacao'] = lista_data_formata
data

In [ ]:
# Calcule uma nova coluna chamada ano_contratacao com o ano de cada data.
lista_anos = []
for i, r in data.iterrows():
    valor_ano = r['data_contratacao']
    if pd.isna(valor_ano):
        print('VALOR NULO')
        lista_anos.append(np.nan)
    else:
        valor_ano = str(valor_ano)
        valor_ano = datetime.strptime(valor_ano, '%Y-%m-%d %H:%M:%S')
        valor_ano = valor_ano.year
        lista_anos.append(valor_ano)

In [ ]:
data

In [ ]:
# Converta a coluna bonus para float, removendo o símbolo % e dividindo por 100.
lista_bonus = []
for i, r in data.iterrows():
    valor_bonus = r['bonus']
    if pd.isna(valor_bonus):
        print('Valor nulo')
        lista_bonus.append(np.nan)
    else:
        if '%' in valor_bonus:
            valor_bonus = valor_bonus.replace('%', '')
            try:
                valor_bonus = pd.to_numeric(valor_bonus, errors='coerce', downcast='float')
                valor_final = valor_bonus / 100
                lista_bonus.append(valor_final)
            except:
                continue
        else:
            continue
            
data['bonus'] = lista_bonus
data

In [ ]:
# Substitua valores ausentes (NaN) na coluna idade pela média das idades válidas.
data.loc[data['idade'].isnull(), 'idade'] = data['idade'].mean()
data

In [ ]:
dados = {
    'Nome': ['Alice', 'Bruno', 'Carlos', None, 'Eva', 'Fernanda', 'Gabriel', 'Hugo'],
    'Idade': [25, 30, np.nan, 22, 28, None, 35, 40],
    'Cidade': ['SP', 'RJ', 'BH', 'SP', None, 'RJ', 'BH', None],
    'Salário': [5000, 6000, 5500, None, 6200, 5800, None, 7000],
    'teste_legal': [25, 30, 23, 22, 28, 23, 35, 40]
}
df_non = pd.DataFrame(dados)
df_non

In [ ]:
# Contar valores nulos por coluna.
a = df_non.isnull()
a.sum()

In [ ]:
# Listar apenas as linhas que possuem algum valor nulo
lista_nulo = df_non.isnull()
boll_nulos = lista_nulo.any(axis=1)
v = df_non[boll_nulos] # NOVO DATAFRAME COM AS LINHAS Q POSSUEM UM VALOR NULO
v

In [ ]:
# Remover todas as linhas que contêm ao menos um valor nulo.
df_non_cop = df_non.dropna()
df_non_cop

In [ ]:
# Remover as colunas que têm qualquer valor nulo.
df_non_cop_col = df_non.dropna(axis='columns')

In [ ]:
# Preencher os valores nulos da coluna "Idade" com a média da idade.
df_non.loc[df_non['Idade'].isnull(), 'Idade'] = df_non['Idade'].mean()
df_non

In [ ]:
# Preencher os valores nulos da coluna "Salário" com o valor 0.
df_non.loc[df_non['Salário'].isnull(), 'Salário'] = df_non['Salário'].fillna(0)
# OU
df_non['Salário'].fillna(0)
df_non

In [ ]:
# Preencher os valores nulos da coluna "Cidade" com "Desconhecida".
df_non.loc[df_non['Cidade'].isnull(), 'Cidade'] = 'Desconhecida'
df_non

In [ ]:
# Preencher os valores nulos da coluna "Nome" com "Sem nome".
valor_nome = df_non.loc[df_non['Nome'].isnull(), 'Nome'] = df_non['Nome'].fillna('Sem nome')
df_non['Nome'] = valor_nome
df_non

In [ ]:
# Refazer os filna tudo junto
novo_valor_junto = df_non.fillna(value={
    'Idade': df_non['Idade'].median(),
    'Nome': 'Indigente',
    'Salário': 0,
    'Cidade': 'Desconhecida'
})

novo_valor_junto

In [ ]:
# Criar uma nova coluna chamada Tem_Nulos que indique (True/False) se a linha tem algum valor nulo.
valor = df_non.isnull()
na = valor.any(axis=1)
df_non['Tem_Nulos'] = na