# **Exercícios**

In [ ]:
# Criar o dataframe
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'Nome': ['Naruto', 'Momo','Okarun', 'Jiji', 'Aira'],
    'Idade': [23, 16, 16, 17, ''],
    'Cidade': ['Konoha', 'Kamikoshi','Kamikoshi','Kamikoshi','Kamikoshi'],
    'Salario': [90000, 3400, 3400, 3000, 5000]
})

# Criando uma cópia para o tratamento de dados
df = data.copy()
df

In [2]:
from datetime import datetime

In [ ]:
# Selecione múltiplas condições:Pessoas com idade > 30 e salário > 5000.
df.loc[(df['Idade'] > 18) & (df['Salario'] > 3000)]

In [ ]:
# Filtrar clientes cujo nome começa com a letra "A".
lista_nomes = []
for i, r in df.iterrows():
    if r['Nome'].startswith('A'):
        lista_nomes.append(True)
    else:
        lista_nomes.append(False)
    
print(lista_nomes)
df[lista_nomes]

In [ ]:
# Filtre apenas as pessoas que não moram em "Rio de Janeiro".
df.loc[~(df['Cidade'] == 'Kamikoshi')]

In [ ]:
# DataFrame novo
data = {
    "id": ["001", "002", "003", "004", "005"],
    "idade": ["25", "30", "vinte e cinco", "40 anos", None],
    "salario": ["3000.50", "4000", "cinco mil", "4500,75", "3800.20"],
    "data_contratacao": ["2021-05-12", "12/06/2020", "Junho 5, 2019", "2020-13-01", "2022/03/15"],
    "bonus": ["10%", "5%", "dez%", "15.5%", None],
}
data = pd.DataFrame(data)

data.info()

In [ ]:
# Converta a coluna id para o tipo inteiro.
data['id'] = pd.to_numeric(data['id'])

In [ ]:
# Converta a coluna idade para numérico, transformando os valores inválidos em NaN.
data['idade'] = pd.to_numeric(data['idade'], errors='coerce')
data

In [ ]:
# Converta a coluna salario para float, substituindo vírgulas por pontos.
# for index, row in data.iterrows():
#     if ',' in row['salario']:
#         valor = row['salario']
#         novo = valor.replace(',', '.')
#         data.loc[index, 'salario'] = novo
#         print(data)
#     else:
#         print('tem ponto ou é errado o nome')

data['salario'] = pd.to_numeric(data['salario'], errors='coerce')
data

In [ ]:
# Converta a coluna data_contratacao para o tipo datetime, tratando os formatos diferentes.
formatos = [
    "%d/%m/%Y",
    "%Y-%m-%d",
    "%Y/%m/%d",
    "%m/%d/%Y",
    "%Y-%d-%m",
    "%Y/%d/%m",
    "%B %d, %Y",
    "%A, %d de %B de %Y",
    "%Y-%m-%d %H:%M",
    "%d/%m/%Y %H:%M:%S",
    "%I:%M %p",
    "%H:%M:%S"
]

lista_datas_formatadas = []

# for dentro da coluna com as data, para pegar cada valor individualmente
for i, r in data.iterrows():
    data_formatada = 0
    valor_data_df = r['data_contratacao']
    print(f'❎ Valor do dataframe {valor_data_df}')
    
    if pd.isna(valor_data_df):
        print(f'Valor nulo')
        lista_datas_formatadas.append(pd.NaT)
        
    # Entrar nos formatdos possíveis para as datas de dentro da coluna data_contratacao
    for x in formatos:
        try:
            data_formatada = datetime.strptime(valor_data_df, x)
            print(f'Valor formatado {data_formatada}')
            break
        except:
            continue
    
    if data_formatada != 0:
        lista_datas_formatadas.append(data_formatada)
    else:
        lista_datas_formatadas.append(pd.NaT)

print('-'* 150)
lista_saida = []
for x in lista_datas_formatadas:
    if pd.isna(x):
        lista_saida.append(pd.NaT)
    else:
        data_saida = x.strftime('%d/%m/%Y')
        lista_saida.append(data_saida)

print(lista_saida)
data['data_contratacao'] = lista_saida
data

In [ ]:
# Calcule uma nova coluna chamada ano_contratacao com o ano de cada data.
lista_ano = []
for i,r in data.iterrows():
    valor_data = r['data_contratacao']
    if pd.isna(valor_data):
        lista_ano.append(pd.NaT)
    else:
        data_convertida = datetime.strptime(valor_data, '%d/%m/%Y')
        ano = data_convertida.year
        lista_ano.append(ano)

data['ano_contratacao'] = lista_ano
data

In [ ]:
# Converta a coluna bonus para float, removendo o símbolo % e dividindo por 100.
lista_bonus = []
for i, r in data.iterrows():
    valor_bonus = r['bonus']
    if pd.isna(valor_bonus) or valor_bonus == None:
        lista_bonus.append(np.nan)
    else:
        if '%' in valor_bonus:
            novo_valor_bonus = valor_bonus.replace('%', '')
            novo_valor_bonus = float(pd.to_numeric(novo_valor_bonus, errors='coerce'))
            novo_valor_bonus = novo_valor_bonus / 100
            lista_bonus.append(novo_valor_bonus)

print(lista_bonus)
data['bonus'] = lista_bonus

In [ ]:
# Substitua valores ausentes (NaN) na coluna idade pela média das idades válidas.
data.loc[data['idade'].isna(), 'idade'] = data['idade'].median()
data

In [ ]:
#