# **Exercícios**

In [ ]:
# Criar o dataframe
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'Nome': ['Naruto', 'Momo','Okarun', 'Jiji', 'Aira'],
    'Idade': [23, 16, 16, 17, ''],
    'Cidade': ['Konoha', 'Kamikoshi','Kamikoshi','Kamikoshi','Kamikoshi'],
    'Salario': [90000, 3400, 3400, 3000, 5000]
})

# Criando uma cópia para o tratamento de dados
df = data.copy()
df

In [ ]:
# Selecione múltiplas condições:Pessoas com idade > 30 e salário > 5000.
df.loc[(df['Idade'] > 18) & (df['Salario'] > 3000)]

In [ ]:
# Filtrar clientes cujo nome começa com a letra "A".
lista_nomes = []
for i, r in df.iterrows():
    if r['Nome'].startswith('A'):
        lista_nomes.append(True)
    else:
        lista_nomes.append(False)
    

print(lista_nomes)
df[lista_nomes]

In [ ]:
# Filtre apenas as pessoas que não moram em "Rio de Janeiro".
df.loc[~(df['Cidade'] == 'Kamikoshi')]

In [ ]:
# DataFrame novo
data = {
    "id": ["001", "002", "003", "004", "005"],
    "idade": ["25", "30", "vinte e cinco", "40 anos", None],
    "salario": ["3000.50", "4000", "cinco mil", "4500,75", "3800.20"],
    "data_contratacao": ["2021-05-12", "12/06/2020", "Junho 5, 2019", "2020-13-01", "2022/03/15"],
    "bonus": ["10%", "5%", "dez%", "15.5%", None],
}
data = pd.DataFrame(data)

data.info()

In [ ]:
# Converta a coluna id para o tipo inteiro.
data['id'] = pd.to_numeric(data['id'])

In [ ]:
# Converta a coluna idade para numérico, transformando os valores inválidos em NaN.
data['idade'] = pd.to_numeric(data['idade'], errors='coerce')
data

In [ ]:
# Converta a coluna salario para float, substituindo vírgulas por pontos.
# for index, row in data.iterrows():
#     if ',' in row['salario']:
#         valor = row['salario']
#         novo = valor.replace(',', '.')
#         data.loc[index, 'salario'] = novo
#         print(data)
#     else:
#         print('tem ponto ou é errado o nome')

data['salario'] = pd.to_numeric(data['salario'], errors='coerce')

data

In [ ]:
# Converta a coluna data_contratacao para o tipo datetime, tratando os formatos diferentes.
# data['data_contratacao']
# for i, r in data.iterrows():
#     if '/' in r['data_contratacao']:
#         novo = r['data_contratacao'] = pd.to_datetime(r['data_contratacao'], errors='coerce', dayfirst=False)
#         data.loc[i, 'data_contratacao'] = novo
#         print(r)