# **Exercícios Pandas** ##

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# EXE1 - Use applymap() para converter todos os números em strings formatadas como moeda (ex: "R$ 12.000,00").
df = pd.DataFrame({
    'vendas_2024': [12000, 35000, 8700],
    'vendas_2025': [15000, 42000, 9100]
})

def converter(valor):
    float(valor)
    valor_formatado = f'R$ {valor:,.2f}'
    new = valor_formatado.replace(',', '.')
    return new
    
    
df.applymap(converter)

In [ ]:
# EXE2 - Use map() para contar o número de palavras em cada frase. Depois, use outra função para retornar o texto em MAIÚSCULAS se tiver mais de 3 palavras.
textos = pd.Series([
    'Python é incrível',
    'pandas é ótimo para dados',
    'amo aprender coisas novas'
])
def maiuscula(valor):
    novo_valor = valor.split()
    new = len(novo_valor)
    if new > 3:
        return valor.upper()

textos.map(maiuscula)

In [ ]:
# EXE3 - Crie uma função e use applymap() para: Substituir None por "Desconhecido" se for texto, Substituir None por 0 se for número.
df = pd.DataFrame({
    'nome': ['Ana', 'Beto', None],
    'idade': [23, None, 35],
    'cidade': ['SP', 'RJ', 'BH']
})

def nulo(valor):
    if pd.isna(valor):
        if valor == None:
           return 'desconhecido'
        elif isinstance(valor, float):
            return 0
        else:
            print('errado')
    else:
        return valor
df.applymap(nulo)

In [ ]:
# EXE4 - Mostre apenas o maior salário de cada departamento (.max()). Agrupe por Departamento e retorne o menor e maior salário usando .agg(['min', 'max']). Use o atributo .groups pra visualizar os índices das linhas pertencentes a cada grupo.
df = pd.DataFrame({
    'Departamento':['RH', 'RH', 'TI', 'TI', 'Vendas', 'Vendas'],
    'Salário': [2000, 2500, 3000, 4000, 1800, 2200]
})

grupo_departamento = df.groupby('Departamento').sum()
media = grupo_departamento.mean()
conta = df.groupby('Departamento')
conta.count()

In [ ]:
# EXE5 - Mostre apenas o maior salário de cada departamento (.max())
df.groupby('Departamento').max()

In [ ]:
# EXE6 - Agrupe por Departamento e retorne o menor e maior salário usando .agg(['min', 'max']).
grupo = df.groupby('Departamento')
grupo.agg(['min', 'max'])

In [ ]:
# EXE7 - Agrupe por Cidade e Ano e: calcule a soma de vendas calcule a média por cidade (ignorando o ano)
df = pd.DataFrame({
    'Cidade': ['SP', 'SP', 'RJ', 'RJ', 'MG', 'MG'],
    'Ano': [2023, 2024, 2023, 2024, 2023, 2024],
    'Vendas': [100, 150, 80, 120, 90, 110]
})

grupo = df.groupby(['Cidade', 'Ano'])
media = df.groupby('Cidade')['Vendas'].mean()
media

In [ ]:
# EXE 8 - Use .reset_index() após o groupby pra transformar o resultado novamente em um DataFrame “plano”.
media = media.reset_index()
media

In [ ]:
# EXE 9 - Agrupe por Categoria e crie uma nova coluna chamada Lucro (Valor - Custo). Depois, calcule a média do lucro por categoria.
df = pd.DataFrame({
    'Categoria': ['A', 'A', 'A', 'B', 'B', 'C'],
    'Valor': [10, 15, 20, 5, 7, 30],
    'Custo': [5, 6, 8, 2, 3, 10]
})

grupo = df.groupby('Categoria')
a = grupo[['Valor', 'Custo']].apply(lambda x:x * 10)
a