# **Exercícios Pandas** ##

In [ ]:
import pandas as pd

In [ ]:
# EXE 1 - Crie um DataFrame com as colunas ["Nome", "Idade", "Cidade"] e 3 linhas de dados à sua escolha.
# Mostre o tipo de cada coluna (dtypes). Exiba estatísticas descritivas (describe()). Verifique se há valores ausentes (isnull() e sum()).
# Selecione apenas a coluna “Idade”. Selecione linhas onde a idade seja maior que 25. Selecione as colunas “Nome” e “Cidade” das 2 primeiras linhas.
df = pd.DataFrame({
    'Nome': ['momo','okarun','seiko'],
    'Idade': [15, 15, 67],
    'Cidade': ['Kamigoe','Kamigoe','Kamigoe']
})

df.dtypes
df.isnull().sum()
df['Idade']
df.loc[df['Idade'] > 25]
df.iloc[[0,1 ], [0, 1]]

In [ ]:
# EXE 2  - Crie uma nova coluna AnoNascimento
df['AnoNascimento'] = 2025 - df['Idade']
df

In [ ]:
# EXE 3 -  Renomeie a coluna Cidade para Localidade.
df.rename(columns={
    'Cidade': 'Localidade'
}, inplace=True)

df

In [ ]:
# EXE4 - Ordene o DataFrame por Idade (crescente e decrescente).
df.sort_values(by='Idade', ascending=True)
df.sort_values(by='Idade', ascending=False)

In [ ]:
# EXE 5 - Substitua valores nulos por um valor padrão. Elimine linhas com valores nulos em uma coluna específica.
df = pd.DataFrame({
    'Nome': ['momo','okarun','seiko'],
    'Idade': [15, 15, 67],
    'Altura': [1.70, 1.70, None],
    'Cidade': ['Kamigoe','Kamigoe',None]
})

# df.fillna(0, inplace=True)

In [ ]:
# EXE 6 - Elimine linhas com valores nulos em uma coluna específica.
df2 = df.dropna(subset=['Idade'])
df2

In [ ]:
# EXE 7 - Filtre pessoas cuja cidade comece com a letra “S”. Filtre pessoas com idade entre 20 e 40.
mask = df['Cidade'].str.startswith('S', na=False)
df[mask]

df.loc[(df['Idade'] > 20) & (df['Idade'] < 40)]

In [ ]:
# EXE 8 - Agrupe por Cidade e calcule a idade média. Conte quantas pessoas existem por cidade.
grupo = df.groupby('Cidade')
grupo['Altura'].mean()
grupo.describe()