In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'coluna': [1,2,3]
}, index=['linha1','linha2','linha3'])

df

In [ ]:
df = pd.Series([1,2,3])
df

In [ ]:
df.describe()

In [ ]:
df['coluna']

In [ ]:
df.iloc[2, 0]
df.loc['linha3','coluna']

In [ ]:
df = pd.DataFrame({
    'col1': ['Joã', 'Maria', 'José', 'Alice'],
    'col2': [20, 21, 19, 20],
    'col3': [5, 10, 6, 9]
})

df.loc[df['col1'] == 'Maria']
df.loc[(df['col1'] == 'Alice') & (df['col3'] > 1)]

In [ ]:
lista = [1,2,3,4]
df['col1'] = lista
df

In [ ]:
del df['col3']
df

In [ ]:
df['new_col'] = 0
df

In [ ]:
df.loc[df['col1'].isin(['daw','Mago de gelo', 'DADOS'])]

In [ ]:
for i,r in df.iterrows():
    print(r['col3'] + 20)

In [ ]:
notas = pd.DataFrame({
    'nome': ['Joã', 'Maria', 'José', 'Alice'],
    'idade': [20, 21, 19, 20],
    'nota_final': [5, 10, 6, 'tiktok']
})

notas['nota_final'] = pd.to_numeric(notas['nota_final'], errors='coerce')
notas

In [ ]:
df_datas = pd.DataFrame({
    'data1': ['2020-01-01', '2022-02-02'],
    
})

df_datas['data1'] = pd.to_datetime(df_datas['data1'], errors='coerce')
df_datas.loc[df_datas['data1'] > '2027-01-01']

In [ ]:
a = notas['nota_final'].isnull()
notas[a]

In [ ]:
notas.fillna(9, inplace=True)
notas

In [ ]:
stats = notas.describe()
stats['nota_final'].value_counts()

In [ ]:
def func(valor):
    return valor

notas.apply(func, axis=1)

In [ ]:
def func(valor):
    return valor

notas.applymap(func)

In [ ]:
def func(valor):
    return valor + 290

notas[['idade','nota_final']].map(func)

In [ ]:
df = pd.DataFrame({
    'nome': ['Joã', 'Maria', 'José', 'Alice'],
    'idade': [20, 21, 19, 20],
    'nota_final': [5, 10, 6, 'tiktok']
})

grupo = df.groupby('nome')
grupo.describe()

In [143]:
notas.sort_values(by='idade',ascending=False)

    nome  idade  nota_final
1  Maria     21        10.0
0    Joã     20         5.0
3  Alice     20         NaN
2   José     19         6.0